@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebProject.Models
@model TicTacToeViewModel

<div id="play">
    <h4>Play with us!</h4>
        
            <div id="savedGames">
                <table border="1" height="100" width="100">
                   
                    @foreach (var tables in Model.Table)
                    {
                        if (tables.active)
                        {
                            <tr>
                                <td class="activeNumber" style="background-color:red;">Game @tables.Id</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="gameNumber">Game @tables.Id</td>
                            </tr>
                        }

                    }
                    
                </table>
            </div>
        @foreach (var tables in Model.Table)
        {

            if (tables.active)
            {
                <div id="hidden">
                    <table border="1" height="100" width="100">
                        <tr>
                            <td id="cell11">@tables.cell11</td>
                            <td id="cell12">@tables.cell12</td>
                            <td id="cell13">@tables.cell13</td>
                        </tr>
                        <tr>
                            <td id="cell21">@tables.cell21</td>
                            <td id="cell22">@tables.cell22</td>
                            <td id="cell23">@tables.cell23</td>
                        </tr>
                        <tr>
                            <td id="cell31">@tables.cell31</td>
                            <td id="cell32">@tables.cell32</td>
                            <td id="cell33">@tables.cell33</td>
                        </tr>
                    </table>
                </div>
            }

        }
    <br />
    <br />
    <button id="newGame">New Game</button>
            
        
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            var x = false;
            var count = 0;

            //create a new table
            $('#newGame').click(function () {
                StartNewGame();
                $("#hidden").show();
            });

            $(".gameNumber").click(function () {

                //highlight active game only
                $(".gameNumber").css('background', 'white');
                $(".activeNumber").css('background', 'white');
                $(this).css('background', 'red');

                //id of active game
                var text = $(this).html().split(" ");
                var id = text[text.length - 1];

                var cellValues = {
                    "Id": id
                };

                $.post('/Home/Play', { table: cellValues }, function (response) {
                    location.reload();
                });

            });


            $('td').click(function () {

                //get ID
                var text = $(".activeNumber").html().split(" ");
                var id = text[text.length - 1];

                if (!$(this).html()) {
                    if (x == false) {
                        $(this).html("X");
                        x = "X";
                    }
                    else {
                        $(this).html("O");
                        x = "O";
                    }

                 

                    var cellValues = {
                        "Id": id,
                        "cell11": $("#cell11").html(),
                        "cell12": $("#cell12").html(),
                        "cell13": $("#cell13").html(),
                        "cell21": $("#cell21").html(),
                        "cell22": $("#cell22").html(),
                        "cell23": $("#cell23").html(),
                        "cell31": $("#cell31").html(),
                        "cell32": $("#cell32").html(),
                        "cell33": $("#cell33").html(),
                        "active": true,
                        "move": x
                    };


                    //send values to controller to store in database
                    $.post('/Home/Play', { table: cellValues }, function (response) {
                    });

                    //Check if it is the end of the game (win, lost, or tie)
                    var end = CheckEndGame($(this).get(0).id.split(""), $(this).html());

                    if(end == true)
                    {
                        StartNewGame();
                    }
                }
            });

            function CheckEndGame(num, text)
            {
                count++;
                var i = num[num.length - 2];
                var j = num[num.length - 1];

                if ($("#cell" + i + "" + 1).html() == $("#cell" + i + "" + 2).html() && $("#cell" + i + "" + 2).html() == $("#cell" + i + "" + 3).html()) {
                    alert(text + " won!");
                    return true;
                }
                else if ($("#cell" + 1 + "" + j).html() == $("#cell" + 2 + "" + j).html() && $("#cell" + 2 + "" + j).html() == $("#cell" + 3 + "" + j).html()){
                    alert(text + " won!");
                    return true;
                }
                else if ((i == 2 && j == 2) || ((i == 1 && j == 3) || (i == 3 && j == 1))) {
                    if ($("#cell" + 1 + "" + 3).html() == $("#cell" + 2 + "" + 2).html() && $("#cell" + 2 + "" + 2).html() == $("#cell" + 3 + "" + 1).html()) {
                        alert(text + " won!");
                        return true;
                    }
                }
                else if (i == j) {
                    if ($("#cell" + 1 + "" + 1).html() == $("#cell" + 2 + "" + 2).html() && $("#cell" + 2 + "" + 2).html() == $("#cell" + 3 + "" + 3).html()) {
                        alert(text + " won!");
                        return true;
                    }
                }
                if (count == 9)
                {
                    alert("It's a tie!");
                    return true;
                }
                return false;

            }

            function StartNewGame() {
                var cellValues = null;

                $.post('/Home/Play', { table: cellValues }, function (response) {
                    location.reload();
                });
            }

        });



    </script>
}
