@model IEnumerable<WebProject.Data.Tables>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cell11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cell11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
